define host {
        use                     linux-host
        host_name               testserver
        alias                   testserver
        address                 192.168.56.103
	contact_groups		sys_admins
        }
# /usr/lib/nagios/plugins
# cefined at resources
define service {
        use                             linux-service
        host_name                       testserver
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }

#define service {
#        use                             linux-service
#        host_name                       testserver
#        service_description             SSH
#        check_command                   check_ssh
#        #notifications_enabled           0
#        }

# /etc/nagios-plugins/config/check_nrpe.cfg
define service {
        use                             linux-service
        host_name                       testserver
        service_description             Current Load
        check_command                   check_nrpe_2args!check_load!5.0,4.0,3.0!10.0,6.0,4.0
        }

define service {
        use                             linux-service
        host_name                       testserver
        service_description             Custom Disk Checker in Bash
        check_command                   usedspace_bash
        }
